USE [master]
GO
/****** Object:  Database [VideoStreaming]    Script Date: 11/21/2018 4:15:58 PM ******/
CREATE DATABASE [VideoStreaming]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoStreaming', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VideoStreaming.mdf' , SIZE = 17408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VideoStreaming_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VideoStreaming_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoStreaming].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoStreaming]
GO
/****** Object:  Table [dbo].[VideoSteam]    Script Date: 11/21/2018 4:15:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VideoSteam](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[FileType] [nvarchar](20) NOT NULL,
	[Url] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[VideoSteam] ON 

INSERT [dbo].[VideoSteam] ([SrNo], [FileName], [FileType], [Url]) VALUES (5, N'd3c11fec-8f4d-4650-9737-5540cb64036e', N'.mp4', N'Upload/Videos/d3c11fec-8f4d-4650-9737-5540cb64036e.mp4')
SET IDENTITY_INSERT [dbo].[VideoSteam] OFF
USE [master]
GO
